
{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<hr>
<br>
<br>
<main>
    <section>
       
    
            <div class="row justify-content-center form-bg-image"
                data-background-lg="/static/assets/img/illustrations/signin.svg">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3" style="color: red;">
                                Student - Edit Form
                            </h1>
                            <br />
                            {% for message in messages %}
                            <div class="alert alert-{{message.extra_tags}} text-center" role="alert">
                                          {{message}}
                            </div>
                                    {% endfor %}
                            
                        </div>
                        
                        <form method="post" action="{% url 'student_update' student.id %}" class="mt-4">

                            {% csrf_token %}

                            <div class="form-group mb-4"><label for="email">id</label>
                                <div class="input-group"></span><input autofocus=""
                                        class="form-control" id="school" name="txtid"
                                        required="" type="number" value="{{student.id}}"/ readonly></div><span class="text-error"></span>
                            </div>

                  

                            <div class="form-group mb-4"><label for="email">First Name </label>
                                <div class="input-group"></span><input autofocus=""
                                        class="form-control" id="school" name="first_name" placeholder="First Name"
                                        required="" type="text" value="{{student.first_name}}"/></div><span class="text-error"></span>
                            </div>

                            <div class="form-group mb-4"><label for="email">Last Name </label>
                                <div class="input-group"></span><input autofocus=""
                                        class="form-control" id="school" name="last_name" placeholder="Last Name"
                                        required="" type="text" value="{{student.last_name}}" /></div><span class="text-error"></span>
                            </div>

                            <div class="form-group mb-4"><label for="email">Father Name</label>
                                <div class="input-group"></span><input autofocus=""
                                        class="form-control" id="school" name="father_name" placeholder="Father Name"
                                        required="" type="text" value="{{student.father_name}}"/></div><span class="text-error"></span>
                            </div>

                            <div class="form-group mb-4"><label for="email">Mother Name</label>
                                <div class="input-group"></span><input autofocus=""
                                        class="form-control" id="school" name="mother_name" placeholder="Mother Name"
                                        required="" type="text" value="{{student.mother_name}}"/></div><span class="text-error"></span>
                            </div>

                            <div class="form-group mb-4"><label for="email">Your Email</label>
                                <div class="input-group"><span class="input-group-text" id="basic-addon3"><span
                                            class="fas fa-envelope"></span></span><input class="form-control"
                                        id="id_email" name="email" placeholder="Email" required="" type="email" value="{{student.email}}" /></div>
                                <span class="text-error"></span>
                            </div>

                            <div class="form-group mb-4"><label for="email">Mobile number </label>
                                <div class="input-group"></span><input autofocus=""
                                        class="form-control" id="contact" name="contact_no" placeholder="contact number"
                                        required="" type="number"  value="{{student.contact_no}}" /></div><span class="text-error"></span>
                            </div>

                            <div class="form-group mb-4"><label for="gender">Gender</label>
                                
                                <br>
                                    <div class="form-group mb-4 form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="male" />
                                        <label class="form-check-label" for="inlineRadio1">Male</label>
                                    </div>
                                    
                                    <div class="form-group mb-4 form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female" />
                                        <label class="form-check-label" for="inlineRadio2">Female</label>
                                    </div>
                                    
                                    <div class="form-group mb-4 form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" value="others" />
                                        <label class="form-check-label" for="inlineRadio3">Others</label>
                                    </div>
                                </div>

                            <div class="form-group mb-4"><label for="email">Birth Date</label>
                                <div class="input-group"></span><input autofocus=""
                                        class="form-control" id="city" name="dob" placeholder="city"
                                        required="" type="date" value="{{student.dob}}"  /></div><span class="text-error"></span>
                            </div>

                            <div class="form-group mb-4"><label for="email">Address</label>
                                <div class="input-group"></span><input autofocus=""
                                        class="form-control" id="city" name="address" placeholder="city"
                                        required="" type="text" value="{{student.address}}" /></div><span class="text-error"></span>
                            </div>

                            
                            <div class="form-group mb-4"><label for="sel1">Standard</label>
                                
                                            
                                <select class="form-control" id="sel1" name="standard" value="{{student.standard}}">
                                    <option selected>select standard</option>
                                    <option value="1st">1st</option>
                                    <option value="2nd">2nd</option>
                                    <option value="3rd">3rd</option>
                                    <option value="4th">4th</option>
                                    <option value="5th">5th</option>
                                    <option value="6th">6th</option>
                                    <option value="7th">7th</option>
                                    <option value="8th">8th</option>
                                    <option value="9th">9th</option>
                                    <option value="10th">10th</option>
                                    <option value="11th">11th</option>
                                    <option value="12th">12th</option>
                                </select>
                              
                            </div>


                            <div class="form-group mb-4"><label for="email">Adhar Card No</label>
                                <div class="input-group"></span><input autofocus=""
                                        class="form-control" id="school_type" name="adhar_card" placeholder="Standard - 1th to 12th "
                                        required="" type="text" value="{{student.adhar_card}}" readonly /></div><span class="text-error"></span>
                            </div>

                            <div class="form-group mb-4"><label for="email">Batch Year</label>
                                <div class="input-group"></span><input autofocus=""
                                        class="form-control" id="city" name="batch" placeholder="Batch Year"
                                        required="" type="month" value="{{student.batch}}" /></div><span class="text-error"></span>
                            </div>

                            
                                
                                
                        
                            <button class="btn btn-block btn-primary"  type="submit">Add</button>
                        </form>
                    
                        <br/>
                    </div>
                </div>
            </div>
        
    </section>
</main>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}