{% extends "layouts/base.html" %}
{% block title %} {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<div class="card card-body border-0 shadow table-wrapper table-responsive">
  <table class="table table-hover">
    <thead>
      <tr style="background-color: yellow;">
        <th class="border-gray-200">Name</th>
        <th class="border-gray-200">Father Name</th>
        <th class="border-gray-200">Standard</th>
        <th class="border-gray-200">Batch year</th>
        <th class="border-gray-200">Adhar card</th>
        <th class="border-gray-200">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Item -->
      {% for student in query %}
      <tr>
          
          <td>
            <span class="fw-normal">{{student.first_name}} {{student.last_name}}</span>
          </td>
          <td>
            <span class="fw-normal">{{student.father_name}}</span>
          </td>
          <td>
            <span class="fw-normal">{{student.standard}} </span>
          </td>
          <td>
            <span class="fw-normal">{{student.batch}} </span>
          </td>
          <td>
            <span class="fw-normal">{{student.adhar_card}} </span>
          </td>
          <td>
            <span class="fw-normal"> <a href="{% url 'student_update' student.id %}"><i class="material-icons" style="color: blue;">edit</i></a></span>
            &nbsp;  &nbsp;
            <span class="fw-normal"> <a href="{% url 'student_delete' student.id %}" onclick="return confirm('Are you sure you want to delete this?')"><i class="material-icons" style="color: red;">delete</i></a></span>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}