 
 {% extends "layouts/base-fullscreen.html" %}

 {% block title %} Sign IN {% endblock %}
 
 <!-- Specific Page CSS goes HERE  -->
 {% block stylesheets %}{% endblock stylesheets %}
 
 {% block content %}

 <div class="row justify-content-center form-bg-image"
 data-background-lg="/static/assets/img/illustrations/signin.svg">
 <div class="col-12 d-flex align-items-center justify-content-center">
     
     <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
         <div class="text-center text-md-center mb-4 mt-md-0">
             <h1 class="mb-0 h3" style="color: red;">
                    Password reset complete</h1>

                    <p>Your password has been set. You may go ahead and log in now.</p>

                    <a href="/">Log in</a>
         </div>
     </div>
 </div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}